version: '3'

services:

  app:
    build: .
    environment:
      AWS_ENDPOINT_URL: http://awslocal:4566
    ports:
      - "8080:8080"
    depends_on:
      - localstack

  localstack:
    image: localstack/localstack:0.11.2
    container_name: awslocal
    hostname: awslocal
    environment:
      SERVICES: "sqs,sns"
      HOST_TMP_FOLDER: /tmp/localstack
      HOSTNAME_EXTERNAL: awslocal
    ports:
      - "4566:4566"
      - "8055:8080"
    volumes:
      - "./.localstack:/tmp/localstack"

